body{
    background-color: lightblue;
    font-family: arial;
    margin: 10px;
}
table{
    background-color: rgb(155, 157, 152);
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}
TH,td{
    BORDER:SOLID 1PX rgb(235, 14, 14);
}
th,td{
    border:2px solid black;
    padding: 40px;
}
thead{
    background-color: rgb(197,103,197);
    border-bottom: solid 2px black;
    color: white;    
}

tr:hover td{
    background-color: green;
    color: red;
}
